<h1>Details about <%=@recipe.name%></h1>

<!-- create form that shows information about the specific recipe -->
<form action="/recipes/<%=@recipe.id%>" method="post">
  <input type="hidden" name="_method" value="PATCH">
  <label>Recipe Name:</label>
  <br>
  <input type="text" name="recipe[name]" value="<%=@recipe.name%>">
  <br>
  <label>Recipe Category:</label>
  <br>
  <input type="text" name="recipe[kategory]" value="<%=@recipe.kategory%>">
  <br>
  <label>Cook Time: (in minutes)</label>
  <br>
  <input type="text" name="recipe[cook_time]" value="<%=@recipe.cook_time%>">

  <br>
  <br>
  <input type="submit" name="submit" value="Edit Recipe">

</form>
<br><br>
<br><br>

<h4>Go back to <a href="/recipes">all recipes</a>.</h4>
<h4>Create a <a href="/recipes">new recipe</a>.</h4>
<br><br>
<a href="/logout">Logout</a>
