
<!-- gives options to edit the recipe -->

<!-- gives option to delete the recipe -->

  <li>
    <ul>
      <h1>Details about: <%=@recipe.name%></h1>
    </ul>
    <br>
    <ul>
      <h4>Recipe Category: <%=@recipe.kategory%></h4>
    </ul>
    <br>
    <ul>
      <h4>Cook Time(in minutes): <%=@recipe.cook_time%></h4>
    </ul>
    <br>
    <ul>
      <h5>Ingredients: <%=@recipe.ingredients%></h5>
    </ul>
    <br>
    <ul>
      <h5>Instructions: <%=@recipe.instructions%></h5>
    </ul>
    <br>
  </li>
  <br>
  <br>
  <form action="/recipes/<%=@recipe.id%>/delete" method="post">
    <input type="hidden" name="_method" value="delete">
  <input type="submit" name="submit" value="Delete Recipe">

</form>
  <br>
  <br>
<h2><a href="/recipes/<%=@recipe.id%>/edit">Edit recipe</a></h2>

<h4>Go back to <a href="/recipes">all recipes</a>.</h4>
<h4>Create a <a href="/recipes">new recipe</a>.</h4>
<br><br>
<a href="/logout">Logout</a>
